/* ================================
    PAGE PANIER : .basket
================================ */
.basket {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    border-top: 1px solid black;
    padding-top: 190px;
}

/* ================================
    BLOC ARTICLES : .basket-rows
================================ */
.basket-rows {
    display: flex;
    flex-direction: column;
    width: 54.5%;
    margin-top: 90px;
    margin-left: 100px;
    margin-right: 85px;
    margin-bottom: 25px;
}

/* ================================
    ARTICLE : .article
================================ */
.article {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 120px;
    border-bottom: 1px solid black;
}

/* Article Image*/
.article-image {
    width: 154px;
    height: 176px;
    position: absolute;
    top: 0;
    left: 0;
}

.image {
    width: 100px;
    height: 136px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.labeled-price {
    width: 70px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.image-price {
    position: absolute;
    bottom: -9px;
    left: 42px;
    transform: translate(-50%, -50%) rotate(+2.8deg); 
    font-size: 10px;
    font-weight: bold;
    color: black; 
    z-index: 3;
    pointer-events: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Article Information */
.article-information {
    width: 870px;
    height: 180px;
    margin-left: 5%;
    position: absolute;
    top: 0;
    right: 0;
}

.article-title {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    height: 51px;
}

.article-delivery-description {
    width: 100%;
    margin: 5px 0;
    font-size: 10px;
    color: black;
}

/* Icon incrementator*/
.article-icon {
    display: flex;
    gap: 5px;
}
  
.article-icon img {
    width: 17px;
    height: 20px;
}
  
.article-icon p {
    width: 100%;
    margin: 0;
    font-size: 14px;
}

/* ================================
    INCRÉMENTATEUR : .article-incrementator
================================ */
.article-incrementator {
    width: min-content;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
  
.article-add, .article-remove {
    display: flex;
    width: 28px;
    height: 28px;
    padding: 0;
    margin: 0 2px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #c14bff;
    color: #c14bff;
    font-size: 16px;
    cursor: pointer;
}

.article-delete {
    border: none;
    background: none;
    width: min-content;
    position: absolute;
    top: 1%;
    right: 0.2%;
    margin: 0;
    text-align: right;
    font-size: 23px;
    font-weight: 400;
}

/* Prix */
.article-price {
    width: min-content;
    position: absolute;
    top: 62%;
    right: 0;
    margin: 0;
    text-align: right;
    font-size: 23px;
    font-weight: 400;
}

/* ================================
    ORDER SUMMARY : .order-summary
================================ */
.order-summary {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 420px;
    height: 296px;
    margin-left: 12px;
    border: 1px solid #000;
}

/* Titre */
.order-summary .title {
    background-color: #000;
    color: white;
    padding: 8px 11px;
    font-size: 19px;
    font-weight: 200;
    line-height: 1.2;
    text-transform: uppercase;
}

/* Details */
.order-summary .details {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 5px 20px;
    font-size: 18.25px;
    height: 167px;
}

.amount-row{
    margin-top: 16px;
}

.amount-row, .delivery-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    font-size: 18.25px;
    text-align: left;
}
  
.total-row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    text-align: left;
}

/* Prix */
.value {
    font-size: 19px;
    font-weight: 500;
    color: #c14bff;
}
  
.total-value {
    font-size: 26px;
    font-weight: 400;
    color: #c14bff;
}

/* ================================
    BOUTON PASSER A LA SUITE : .order-button
================================ */
.order-button {
    width: 100.5%;
    height: 78px;
    padding: 21px 12px;
    position: relative;
    left: -1px;
    background-color: white;
    color: #c14bff;
    border: 1px solid #c14bff;
    text-align: center;
    font-size: 13.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1;
}
  
.order-button:hover {
    background-color: #c14bff;
    color: white;
}

/* ================================
    PAGE PANIER VIDE
================================ */
.empty-basket-wrapper {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.empty-basket {
    font-size: 2.2rem;
    font-weight: bold;
    color: #333;
    animation: zoomIn 0.5s ease-out forwards;
    animation: pulseZoom 3s ease-in-out infinite;
}
  
.empty-basket-image-container {
    width: 100vw;
    margin-top: 2rem;
    overflow: hidden;
    position: relative;
    height: 150px;
}
  
.empty-basket-image {
    position: absolute;
    left: -30%; /* commence hors écran */
    top: 50%;
    transform: translateY(-50%);
    height: 45px;
    width: auto;
    animation: slideMetro 20s infinite ease-in-out;
    opacity: 0.8;
    animation-delay: 18s;
}

/* ================================
    ANIMATIONS
================================ */
@keyframes zoomIn {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulseZoom {
    0%, 100% {
        transform: scale(1);    
    }
    50% {
        transform: scale(1.1);
    }
}
  
@keyframes slideMetro {
    0% {
        left: -30%;
    }
    30% {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    80% {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        left: 130%;
    }
}
