  /* ================================
     GALERIE PRINCIPALE
  ================================ */
  .gallery-space {
    text-align: center;
    margin-top: calc(var(--margin-height) / 2);
    margin-bottom: calc(var(--margin-height) / 2);
    margin-left: var(--margin-width);
    margin-right: var(--margin-width);
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    font-family: var(--font-family);
  }

  .gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--background-color);
  }

  .gallery-item:hover {
    animation: hoverItem var(--transition-slow) forwards;
  }
  @keyframes hoverItem {
    100% {
      border: 1px solid var(--primary-color);
    }
  }

  .gallery-wrapper img {
    object-fit: cover;
    width: calc(var(--content-width) / 4);
    height: calc(var(--content-width) / 4);
  }

  .gallery-description {
    display: flex;
    flex-direction: column;
    margin-left: .5vw;
    margin-right: .5vw;
  }
  
  .gallery-title {
    display: flex;
    justify-content: space-between;
  }

  .gallery-name {
    font-weight: bold;
  }

  .gallery-price {
    color: var(--primary-color);
  }
 
  .gallery-label {
    opacity: var(--opacity-muted);
  }
  
  .gallery-note {
    font-style: italic;
    text-align: center;
  }
    
  /* ================================
     RESPONSIVE DESIGN
  ================================ */  
  @media (max-width: 768px) {
    .gallery {
      grid-template-columns: 1fr 1fr;
    }

    .gallery-item img {
      width: calc(var(--content-width) / 2);
      height: calc(var(--content-width) / 2);
    }
  
  }