/* ================================
    SECTION COMPONENT
================================ */
.section {
    z-index: 99;
    position: fixed;
    display: flex;
    align-items: center;

    top: var(--header-height);
    height: calc(var(--section-height) - var(--section-margin) * 2);
    margin: var(--section-margin);

    background: var(--white);
    animation: fadeInUpApp var(--transition-slow) both;
    animation-delay: var(--content-reveal);
}

.section-image {
    height: calc(var(--section-height) * 0.8);
}

.section-title {
    margin-left: var(--section-margin);
    font-size: 1.5em;
}