/* ================================
    HEADER COMPONENT
================================ */
.header {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;

    width: var(--header-width);
    height: var(--header-height);

    background-color: var(--white);
}

.header-inner {
    display: flex;
    position: relative;

    width: calc(var(--header-width) - var(--header-margin) * 2);
    height: calc(var(--header-height) - var(--header-margin) * 2);
    margin: var(--header-margin);

    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    background-color: var(--background-color);

    animation: fadeInUpApp var(--transition-slow) both;
    animation-delay: var(--content-reveal);
}

.header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
    object-fit: contain;
    pointer-events: none;
}

.header button {
    margin: 1vw;

    border: none;
    background: none;

    font-family: var(--font-family);

    transition: var(--transition-fast);
    cursor: pointer;
}

.butt-right {
    color: var(--primary-color);
}