/* ================================
    ORDER SUMMARY : .order-summary
================================ */
.order-summary {
    display: flex;
    flex-direction: column;
    position: fixed; /* changed from 'sitcky' to fixed so it stays at the bottom of the viewport */
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--white);
    border: var(--border-width) solid var(--border-color-dark);
    z-index: var(--z-index-base); /* keep above page content */
}

/* Titre */
.order-summary .title {
    background-color: var(--black);
    color: var(--white);
    padding: 8px 11px;
    font-size: var(--font-size-md);
    font-weight: 200;
    line-height: 1.2;
    text-transform: uppercase;
}

.amount-row, .delivery-row, .total-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 14px;
    font-size: 18.25px;
    text-align: left;
}
  
.total-row {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    text-align: left;
}

.label {
    font-size: var(--font-size-sm);
    font-weight: 400;
    color: var(--font-color-dark);
}
.value {
    font-size: var(--font-size-md);
    font-weight: 500;
    color: var(--primary-color);
}
.total-value {
    font-size: var(--font-size-lg);
    font-weight: 400;
    color: var(--primary-color);
}

/* ================================
    BOUTON PASSER A LA SUITE : .order-button
================================ */
.order-button {
    width: 100%;
    height: 7vh;
    margin: 0;

    background-color: var(--white);
    color: var(--primary-color);
    border: var(--border-width) solid var(--primary-color);
    text-align: center;
    font-size: var(--font-size-sm);
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all var(--transition-standard);
    z-index: var(--z-index-base);
}
  
.order-button:hover {
    background-color: var(--primary-color);
    color: var(--white);
}


