/* ================================
    ORDER SUMMARY : .order-summary
================================ */
.order-summary {
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    bottom: 0px;
    right: 0;
    width: 100%;
    height: 30%;
    margin-left: 12px;
    border: var(--border-width) solid var(--border-color-dark);
}

/* Titre */
.order-summary .title {
    background-color: var(--black);
    color: var(--white);
    padding: 8px 11px;
    font-size: var(--font-size-md);
    font-weight: 200;
    line-height: 1.2;
    text-transform: uppercase;
}

/* Details */
.order-summary .details {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 5px 20px;
    font-size: 18.25px;
    height: 167px;
}

.amount-row{
    margin-top: 16px;
}

.amount-row, .delivery-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    font-size: 18.25px;
    text-align: left;
}
  
.total-row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    text-align: left;
}

/* Prix */
.value {
    font-size: var(--font-size-md);
    font-weight: 500;
    color: var(--primary-color);
}
  
.total-value {
    font-size: var(--font-size-lg);
    font-weight: 400;
    color: var(--primary-color);
}

/* ================================
    BOUTON PASSER A LA SUITE : .order-button
================================ */
.order-button {
    width: 100.5%;
    height: 78px;
    padding: 21px 12px;
    position: relative;
    left: -1px;
    background-color: var(--white);
    color: var(--primary-color);
    border: var(--border-width) solid var(--primary-color);
    text-align: center;
    font-size: var(--font-size-sm);
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all var(--transition-standard);
    z-index: var(--z-index-base);
}
  
.order-button:hover {
    background-color: var(--primary-color);
    color: var(--white);
}


